<div *ngIf="currentLegajo$ | async as data" class="legajo-container">
  <h1 *ngIf="data.ID">
    Modificar legajo <span>Nro.{{data.Legajo}}</span>
  </h1>
  <h1 *ngIf="!data.ID">
    Nuevo legajo
  </h1>

  <mat-divider></mat-divider>

  <div mat-dialog-content class="content">

    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Legajo" placeholder="Número de Legajo"
        cdkFocusInitial></mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.CreatedAt" placeholder="Creado">
    </mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Nombre" placeholder="Nombre">
    </mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Apellido" placeholder="Apellido">
    </mat-form-field>
    <mat-form-field class="standard-input"><input matInput [(ngModel)]="data.Cbu" placeholder="CBU"></mat-form-field>

    <!--<h2>Hijos</h2>
    <mat-divider></mat-divider>
    <mat-form-field class="children-input"><input matInput [(ngModel)]="data.Legajo" placeholder="Número de Legajo"
        cdkFocusInitial></mat-form-field>-->

  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button (click)="onClickAbort()">Cerrar</button>
    <button mat-raised-button color="primary" (click)="onClickSave(data)">Guardar</button>
  </div>
</div>